<a href="https://colab.research.google.com/github/engineertorikulislam/Machine-Learning-and-Data-Mining-Projects/blob/main/192002131.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import files
uploaded = files.upload()

Saving gender_classification.csv to gender_classification.csv

In [ ]:
df = pd.read_csv("gender_classification.csv")
df.head()

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long,gender
0,1,11.8,6.1,1,0,1,1,Male
1,0,14.0,5.4,0,0,1,0,Female
2,0,11.8,6.3,1,1,1,1,Male
3,0,14.4,6.1,0,1,1,1,Male
4,1,13.5,5.9,0,0,0,0,Female

In [ ]:
x_inputs = df.drop(['gender'],axis='columns')
x_inputs

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
0,1,11.8,6.1,1,0,1,1
1,0,14.0,5.4,0,0,1,0
2,0,11.8,6.3,1,1,1,1
3,0,14.4,6.1,0,1,1,1
4,1,13.5,5.9,0,0,0,0
...,...,...,...,...,...,...,...
4996,1,13.6,5.1,0,0,0,0
4997,1,11.9,5.4,0,0,0,0
4998,1,12.9,5.7,0,0,0,0
4999,1,13.2,6.2,0,0,0,0
5000,1,15.4,5.4,1,1,1,1

In [ ]:
y_inputs = df[["gender"]]
y_inputs

      gender
0       Male
1     Female
2       Male
3       Male
4     Female
...      ...
4996  Female
4997  Female
4998  Female
4999  Female
5000    Male

[5001 rows x 1 columns]

In [ ]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

In [ ]:
y_inputs.gender = le.fit_transform(y_inputs.gender)
y_inputs

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

      gender
0          1
1          0
2          1
3          1
4          0
...      ...
4996       0
4997       0
4998       0
4999       0
5000       1

[5001 rows x 1 columns]

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(x_inputs,y_inputs, test_size=0.2)

In [ ]:
X_train

,long_hair,forehead_width_cm,forehead_height_cm,nose_wide,nose_long,lips_thin,distance_nose_to_lip_long
2948,1,15.1,5.5,1,0,1,0
195,1,13.8,5.6,0,0,0,0
698,1,13.2,7.0,1,1,1,1
4123,1,13.9,6.1,0,0,0,0
4424,1,14.4,6.2,0,1,1,0
...,...,...,...,...,...,...,...
2737,1,13.1,5.9,1,1,1,1
4656,1,14.1,5.9,1,1,1,1
333,1,12.2,5.2,0,0,0,0
241,0,14.8,6.4,1,1,1,1
3049,1,11.7,5.3,0,0,1,0

In [ ]:
from sklearn.svm import SVC
model = SVC()

In [ ]:
model.fit(X_train, y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

SVC()

In [ ]:
model.score(X_test, y_test)

0.967032967032967